language: python
virtualenv:
  # For scipy
  - system_site_packages: true
python:
  # We rely on the Ubuntu python-scipy package, and that's only
  # available for python 2.7 (and 3.something, but pyrerp doesn't
  # support py3 yet)
  - 2.7
before_install:
  - sudo apt-get install -qq python-scipy
  - pip install coverage pandas patsy cython
  - python -V
  - pip freeze
  - which nosetests
  - python -c 'import numpy; print(numpy.__version__)'
install:
  - python setup.py install
script:
  # We change directories to make sure that python won't find the copy
  # of the package inside the source directory.
  - export PYRERP_TEST_DATA=$PWD/test-data
  - mkdir empty
  - cd empty
  - INSTALLDIR=$(python -c "import os; import pyrerp; print(os.path.dirname(pyrerp.__file__))")
  - export PYTHONWARNINGS=default PYRERP_FORCE_NO_WARNINGS=1
  # The --exe is because python sometimes marks all installed modules
  # as executable, so without --exe nosetests will just ignore
  # everything. Baffling, but so it goes.
  - coverage run --source=$INSTALLDIR --rcfile=../.coveragerc $(which nosetests) --exe --failure-detail --all-modules $INSTALLDIR
  - coverage report --rcfile=../.coveragerc --show-missing
notifications:
  email:
    - njs@pobox.com
